@charset "utf-8";

/**************************************
* base.css 
**************************************/

/* @group @font-face
--------------------------------------------------------*/

@font-face{
font-family:'clear_sansbold';
src:url('../font/ClearSans-Bold-webfont.eot');
src:url('../font/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/ClearSans-Bold-webfont.woff') format('woff'),
url('../font/ClearSans-Bold-webfont.ttf') format('truetype'),
url('../font/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
font-weight:normal;
font-style:normal;
}

@font-face{
font-family:'nes';
src:url('../font/nes.eot?-8tsxl7');
src:url('../font/nes.eot?#iefix-8tsxl7') format('embedded-opentype'),
url('../font/nes.woff?-8tsxl7') format('woff'),
url('../font/nes.ttf?-8tsxl7') format('truetype'),
url('../font/nes.svg?-8tsxl7#nes') format('svg');
font-weight:normal;
font-style:normal;
}

/* @end @font-face */

/* @group @viewport
--------------------------------------------------------*/

@-webkit-viewport{width:device-width;initial-scale:1;}
@-moz-viewport{width:device-width;initial-scale:1;}
@-ms-viewport{width:device-width;initial-scale:1;}
@-o-viewport{width:device-width;initial-scale:1;}
@viewport{width:device-width;initial-scale:1;}

/* @end @viewport */

/* @group @reset
--------------------------------------------------------*/

html{-webkit-text-size-adjust:100%;}
body{margin:0;}
main,article,aside,figcaption,figure,footer,header,nav,section{display:block;}
h1,h2,h3,h4{font-weight:normal;}
h1,h2,h3,h4,p,ul,ol,dl,table,pre,figure,input,textarea{margin-top:0;}
figure{margin-right:0;margin-left:0;}
ul,ol{padding-left:0;list-style:none;}
dd{margin-left:0;}
img{border:0;vertical-align:middle;}
img,object,video,picture{max-width:100%;}
svg:not(:root){overflow:hidden;}
iframe{border:0;vertical-align:top;}
table{border-collapse:separate;border-spacing:0;}
table,tbody,tr{padding:0;border:0;}
input,textarea{margin:0;}
button,input,select{vertical-align:baseline;}
textarea{overflow:auto;vertical-align:top;}
button{cursor:pointer;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
h2,h3,p,li,dt,dd,th,td,pre{data-break:strict;word-wrap:break-word;overflow-wrap:break-word;}
em{font-style:normal;}
abbr[title]{border-bottom:1px dotted inherit;}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}

sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.25em;}
sub{bottom:-0.25em;}

a,a:hover{text-decoration:none;cursor:pointer;-webkit-tap-highlight-color:hsla(0,0%,0%,0);-ms-tap-highlight-color:hsla(0,0%,0%,0);tap-highlight-color:hsla(0,0%,0%,0);}
a:hover{-webkit-user-select:none;user-select:none;-webkit-touch-callout:none;touch-callout:none;}

/* @end @reset */

/* @group @font-icon */

[data-icon-before],
[data-icon-after]{
position:relative;
display:inline-block;
}

[data-icon]:before,
[data-icon-before]:before,
[data-icon-after]:after,
.asc:after,
.desc:after{
font-family:'nes';
font-size:inherit;
line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
font-weight:normal;
speak:none;
}

[data-icon-before]:before,
[data-icon-after]:after{
position:absolute;
top:.3rem;
}

[data-icon-before]{
padding-left:1.38rem;
}

[data-icon-before]:before{left:0;}

[data-icon-after]{
padding-right:1.28rem;
}

[data-icon-after]:after{right:0;}

[data-icon="menu"]:before{
content:"\e600";
}

[data-icon-before="freedial"]:before{
content:"\e601";
}

[data-icon="google-plus"]:before{
content:"\eee4";
}

[data-icon="facebook"]:before{
content:"\eee8";
}

[data-icon="twitter"]:before{
content:"\eeed";
}

[data-icon-before="magazine"]:before {
content:"\ea34";
}

.asc:after,
[data-icon-after="open"]:after{
content:"\edbf";
}

.desc:after,
input:checked~[data-icon-after="open"]:after{
content:"\edb7";
}

[data-icon="sort"]:before{
content:"\ee46";
}

/* @end @font-icon */

/*--------------------------------------------------------*/

/* @group @font-family
--------------------------------------------------------*/

html,body,th,td,input,textarea,select,option,button,select{
font-family:Avenir, Helvetica, 'Segoe UI', '游ゴシック', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
}

.qa-list h3:before,
.qa-list h3+div:before{
font-family:'Georgia', serif;
}

/* @end @font-family */

/* @group @base font-size */

/* @end @base font-size */

/* @group @font-size */

html{font-size:75%;}
@media only screen and (min-width:48em){html{font-size:87.5%;}}
@media only screen and (min-width:62em){html{font-size:100%;}}

h1,h2,h3,h4,h5,h6,
label,select,button,input,textarea{
font-size:16px;
font-size:1rem;
line-height:1.5;
}

@media only screen and (max-width:47.9375em){

label,select,input,textarea{
font-size:21px;
font-size:1.333333333rem;
line-height:1.5;
}

}

/* @end @font-size */

/* @group @font-kerning */

/*h1,h2,h3{
-webkit-font-kerning:auto;
letter-spacing:.05rem;
}*/

@media only screen and (min-width:48em){h1,h2{-webkit-font-smoothing:antialiased;}}

/* @end @font-kerning */

/* base --------------------------------------------------------*/

/* @group contents --------------------------------------------------------*/

/* @group @default
--------------------------------------------------------*/

body,.wrap{
overflow-x:hidden;
}

body{
background:#e9e9e9;
}

body,input,textarea,pre,code{
color:#1f1f1f;
}

a,button,input[type="submit"],input[type="button"]{
text-decoration:none;
/*transition:.5s cubic-bezier(.55,0,.1,1);*/
}

/* @end @default */

/* @group @highlight-color
--------------------------------------------------------*/

::-webkit-selection,
::-moz-selection,
::selection{
background:hsl(220, 48%, 90%);
text-shadow:none;
}

/* @end @highlight-color */

/* @group @font-size */

@media only screen and (min-width:36em){

}

@media only screen and (min-width:62em){

}

@media only screen and (min-width:74em){

}

/* @end @font-size */

/*--------------------------------------------------------*/

/* @group @margin-bottom
--------------------------------------------------------*/

ul,ol,dl,table,pre,blockquote{
margin-bottom:24px;
margin-bottom:1.5rem;
}

p{
margin-bottom:12px;
margin-bottom:.75rem;
}

/* @end @margin-bottom */

/*--------------------------------------------------------*/

/* @group [data-break]
--------------------------------------------------------*/

[data-break]{display:inline-block;}

/* @end @[data-break] */

/* @group [data-hidden]
--------------------------------------------------------*/

[data-hidden]{position:absolute;left:-999em;}

/* @end [data-hidden] */

/* @group [data-mobile-hidden] */

@media only screen and (max-width:47.9375em){
[data-mobile-hidden]{position:absolute;left:-999em;}
}

/* @end [data-mobile-hidden] */

/* @group [data-desktop-hidden] */

@media only screen and (min-width:48em){
[data-desktop-hidden]{position:absolute;left:-999em;}
}

/* @end [data-desktop-hidden] */

/*--------------------------------------------------------*/

/* @group [data-link]
--------------------------------------------------------*/

[data-link]{
box-shadow:0 1px 0 hsla(113, 26%, 42%,.8);
}

html>body [data-link]:hover{
box-shadow:none;
}

.legacy-le [data-link]:hover{
text-decoration:underline;
}

/* @end [data-link] */

/* @group @ruby */

rt{
font-size:50%;
line-height:1.25;
text-justify:inter-ideograph;
vertical-align:bottom;
}

rp{display:none;}

ruby.name{
display:table;
margin:0;
line-height:1;
/*text-align:center !important;*/
white-space:nowrap;
text-indent:0;
vertical-align:text-bottom;
}

ruby.name>span{
display:table-footer-group;
padding-top:4px;
padding-top:.25rem;
}

ruby.name>rt{
display:table-cell;
text-justify:inter-ideograph;
}

[data-icon-before="freedial"]:before{
top:auto;
bottom:0;
}

[data-icon-before="freedial"],
.freedial{
padding-left:44px;
padding-left:2.75rem;
}

.page-header [data-icon-before="freedial"]{
margin:0 auto;
display:table;
}

[data-icon-before="freedial"]>span,
[data-icon-before="freedial"]>ruby,
.freedial>span,
.freedial>ruby{
position:relative;
display:table-cell;
line-height:1;
letter-spacing:.05em;
/*text-align:center !important;*/
white-space:nowrap;
vertical-align:bottom;
}

[data-icon-before="freedial"]>ruby>span,
.freedial>ruby>span{
display:table-footer-group;
text-align:center;
}

[data-icon-before="freedial"] rt,
.freedial rt{
display:table-cell;
font-size:50% !important;
line-height:1 !important;
letter-spacing:0;
vertical-align:text-bottom;
text-align:center;
}

/*[data-icon-before="freedial"] ruby>rt,
.freedial ruby>rt{
font-size:25%;
line-height:1;
text-align:right !important;
letter-spacing:.25em;
}*/

/* @end @ruby */

/*--------------------------------------------------------*/

/* @group @page-layout
--------------------------------------------------------*/

body,
.wrap{
overflow-x:hidden;
}

body{
}

main{
}

[data-contents-area]{
-webkit-backface-visibility:hidden;backface-visibility:hidden;
}

/* @end @page-layout */

/* @group [data-contents-area] */

[data-contents-area]{
}

@media only screen and (min-width:62em){

.csstransforms.no-touch [data-contents-area]{
}

}

/* @end [data-contents-area] */

/* @group [data-contents-body]
--------------------------------------------------------*/

[data-contents-body]{
padding-right:5%;
padding-left:5%;
}

@media only screen and (min-width:48em){

.page-header,
.page-footer,
[data-contents-body]{
padding-right:1.5rem;
padding-left:1.5rem;
}

}

@media only screen and (min-width:62em){

.page-header,
.page-footer,
.d-nav,
.root-bnr,
.con-header,
[data-contents-body]{
padding-right:1.6129032%;
padding-right:-webkit-calc((100% - 60em)/2);
padding-right:calc((100% - 60em)/2);
padding-left:1.6129032%;
padding-left:-webkit-calc((100% - 60em)/2);
padding-left:calc((100% - 60em)/2);
}

}

/* @end [data-contents-body] */

/* @group @main
--------------------------------------------------------*/

main{
margin-top:36px;
margin-top:2.25rem;
margin-bottom:60px;
margin-bottom:3.75rem;
}

@media only screen and (min-width:48em){

main{
margin-top:18px;
margin-top:1.125rem;
}

}

@media only screen and (min-width:62em){

main{
}

}


/* @end @main */

/*--------------------------------------------------------*/

/* @group @transition
--------------------------------------------------------*/

/*[data-contents-area]{
transition:all .25s cubic-bezier(.55,0,.1,1);
}

a,
.btn,
.page-nav [data-icon-before]:before,
.nav-toggle:hover [data-icon]:before{
transition:.5s all cubic-bezier(.55,0,.1,1);
}*/

/* @end @transition */

/* @group @css animation
--------------------------------------------------------*/

@-webkit-keyframes fade-in{
0%{opacity:0;}
100%{opacity:1;visibility:visible;}
}
@-ms-keyframes fade-in{
0%{opacity:0;}
100%{opacity:1;visibility:visible;}
}
@keyframes fade-in{
0%{opacity:0;}
100%{opacity:1;visibility:visible;}
}

/* @end @css animation */

/*  --------------------------------------------------------*/

/* @group @btn
--------------------------------------------------------*/

.btn{
-moz-box-sizing:border-box;box-sizing:border-box;
-webkit-appearance:none;-moz-appearance:none;appearance:none;
position:relative;
overflow:hidden;
display:inline-block;
padding:18px 16px;
padding:1.125rem 1rem;
border:0;
outline:0;
text-align:center;
cursor:pointer;
/*transition:.5s all cubic-bezier(.55,0,.1,1);*/
}

.btn{
background:#4a8d31;
color:#fff;
}

.btn:hover{
background:#6bb050;
}

.btn{
font-size:20px;
font-size:1.25rem;
line-height:1.2;
}

/*
.btn:before{
content:'';
position:absolute;
display:block;
top:50%;
left:50%;
width:0;
padding-top:0;
border-radius:100%;
background-color:hsla(0,100%,100%,.125);
-webkit-transform:translate(-50%, -50%);
-ms-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
}

.btn:active:before{
width:120%;
padding-top:120%;
/*transition:width .25s cubic-bezier(.55,0,.1,1),padding-top .25s cubic-bezier(.55,0,.1,1);
 } */


.btn,
.btn:hover{
color:hsl(0,100%,100%);
}

.root-about .btn,
.root-conference .btn,
.root-workshop .btn,
.root-tickets .btn{
min-width:12rem;
}

.price-info .btn,
.speaker-session .btn{
box-shadow:inset 1px 1px 0 hsl(0,100%,100%), inset -1px -1px 0 hsl(0,100%,100%);
}

.price-info .btn-hide{
box-shadow:inset 1px 1px 0 hsla(0,100%,100%, .5), inset -1px -1px 0 hsla(0,100%,100%, .5);
}

/* @end @btn */

/*  --------------------------------------------------------*/

/* @group @page-header
--------------------------------------------------------*/

body{
border-top:9px solid #00648b;
border-top:.5625rem solid #00648b;
}

.page-header{
position:relative;
padding-top:18px;
padding-top:1.125rem;
}

.page-header .logo a{
letter-spacing:.-5em;
}

.page-header .logo a>*{
display:inline-block;
letter-spacing:normal;
vertical-align:middle;
}

.page-header .logo img{
height:48px;
height:3rem;
}

.page-header .logo a>div{
margin-left:6px;
margin-left:.375rem;
text-align:left;
}

.page-header p{
margin-bottom:0;
font-size:12px;
font-size:.75rem;
font-weight:bold;
}

.page-header h1{
margin-bottom:0;
}

.page-header .logo p{
font-size:14px;
font-size:.875rem;
line-height:1.285714286;
color:#4a4a4a;
}

.page-header h1{
font-family:'M+ 1c bold';
font-size:30px;
font-size:1.875rem;
line-height:1.2;
color:#0d3c98;
}

.page-header .page-nav-link{
position:absolute;
top:15px;
top:.9375rem;
right:12px;
right:.75rem;
padding:6px;
padding:.375rem;
text-align:center;
text-transform:uppercase;
}

.page-header .page-nav-link{
font-size:12px;
font-size:.75rem;
line-height:1.5;
color:#0d3c98;
}

.page-header .page-nav-link [data-icon]:before{
display:block;
font-size:3rem;
line-height:.75;
text-align:center;
}

.page-header .call{
display:block;
padding:12px;
padding:.75rem;
background:#ea730c;
color:#fff;
}

.page-header .call:hover{
background:#ea8b50;
}

.page-header .call dl{
margin-bottom:0;
text-align:center;
}

.page-header .call dd{
margin-top:6px;
margin-top:.375rem;
}

.page-header [data-icon-before="freedial"]{
padding-left:56px;
padding-left:3.5rem;
}

.page-header [data-icon-before="freedial"]{
font-family:'clear_sansbold';
}

.page-header [data-icon-before="freedial"]:before{
bottom:-8px;
bottom:-.5rem;
}

.page-header [data-icon-before="freedial"]:before{
font-size:54px;
font-size:3.25rem;
line-height:1;
}

.page-header .call dt{
font-size:36px;
font-size:2.25rem;
line-height:1;
}

.page-header .call dd{
font-size:12px;
font-size:.875rem;
line-height:1.285714286;
}

[data-icon-before="freedial"] rt{
margin-bottom:0;
}

@media only screen and (max-width:47.9375em){

.page-header .logo{
text-align:center;
}

.page-header .logo a{
padding-right:48px;
padding-right:3rem;
}

.page-header .logo{
margin-bottom:24px;
margin-bottom:1.5rem;
}

.page-header p{
text-align:center;
}

.page-header .call{
margin-right:5%;
margin-left:5%;
}

}

@media only screen and (min-width:48em){

.page-header{
margin-bottom:12px;
margin-bottom:.75rem;
padding-top:12px;
padding-top:.75rem;
}

.page-header .logo{
width:40%;
}

.page-header .call{
position:absolute;
z-index:10;
top:0;
right:24px;
right:1.5rem;
padding:6px 12px;
padding:.375rem .75rem;
}

.page-header p{
padding-left:4.25rem;
}

.page-header .page-nav-link{
display:none;
}

.page-header [data-icon-before="freedial"]{
padding-left:42px;
padding-left:2.625rem;
}

.page-header [data-icon-before="freedial"]:before{
font-size:36px;
font-size:2.25rem;
line-height:1;
}

.page-header .call dt{
font-size:24px;
font-size:1.5rem;
line-height:1;
}

}

@media only screen and (min-width:62em){

.page-header .call{
right:1.6129032%;
right:-webkit-calc((100% - 60em)/2);
right:calc((100% - 60em)/2);
bottom:0;
width:auto;
padding:6px 12px;
padding:.375rem .75rem;
}

.page-header p{
padding-left:4.5rem;
}

}

/* @end @page-header */

/* @group @page-footer
--------------------------------------------------------*/

.page-footer{
padding-top:48px;
padding-top:3rem;
padding-bottom:36px;
padding-bottom:2.25rem;
background:#00648b;
}

.page-footer,
.page-footer a{
color:#fff;
}

.page-footer-fb-box{
margin-top:36px;
margin-top:2.25rem;
background:#fff;
}

.page-footer-primary{
margin-bottom:36px;
margin-bottom:2.25rem;
padding:12px 18px;
padding:.75rem 1.125rem;
background:#fff;
}

.page-footer-primary ul{
margin-bottom:0;
}

.page-footer-primary li{
color:#333;
}

.page-footer-primary a:not(.btn){
font-size:20px;
font-size:1.25rem;
line-height:1.2;
font-weight:bold;
color:#00648b;
}

.page-footer-primary a[data-icon-before]:before{
width:36px;
width:2.25rem;
height:36px;
height:2.25rem;
border-radius:50%;
background:#00648b;
color:#fff;
line-height:1.75;
text-align:center;
}

.page-footer-primary dt>span:not([data-break]){
font-size:12px;
font-size:.75rem;
}

.page-footer-primary a:not(.btn):hover{
color:#4a8d31;
}

.page-footer-primary a:not(.btn):hover:before{
background:#4a8d31;
}

.page-footer-primary .btn{
display:block;
}

.page-footer-fb-box{
margin-bottom:24px;
margin-bottom:1.5rem;
}

.page-footer dt{
margin-bottom:6px;
margin-bottom:.375rem;
}

.page-footer dl{
margin-bottom:0;
}

.page-footer>small{
display:block;
text-align:center;
}

.page-footer>small{
font-size:16px;
font-size:1rem;
line-height:1.875;
text-transform:uppercase;
}

.page-footer>small{
margin-top:24px;
margin-top:1.5rem;
}

.social{
display:table;
margin:auto;
border-spacing:18px 0;
border-spacing:1.125rem 0;
}

.social>li{
display:table-cell;
vertical-align:middle;
}

.social>li a{
-moz-box-sizing:border-box;box-sizing:border-box;
position:relative;
display:block;
width:60px;
width:3.75rem;
height:60px;
height:3.75rem;
padding:14px;
padding:.875rem;
border:1px solid #a8c5d3;
text-align:center;
vertical-align:bottom;
}

.social>li a:before{
display:block;
position:absolute;
top:50%;
left:50%;
margin-top:-25%;
margin-left:-25%;
font-size:30px;
font-size:1.875rem;
line-height:1;
}

.social>li a:hover{
background:#2d79ac;
}

.page-nav{
margin-bottom:24px;
margin-bottom:1.5rem;
}

.page-nav ul{
position:relative;
margin-bottom:0;
}

.page-nav label{
position:relative;
font-size:16px;
font-size:1rem;
line-height:1.5;
cursor:pointer;
}

@media only screen and (max-width:47.9375em){

.page-footer>small,
.page-footer-fb-box{
margin-right:5%;
margin-left:5%;
}

.page-footer-primary{
margin-right:5%;
margin-left:5%;
}

.page-footer-primary ul>li:not(:last-of-type){
margin-bottom:18px;
margin-bottom:1.125rem;
}

.page-footer-primary ul>li:last-of-type dl{
position:relative;
padding-top:40px;
padding-top:2.5rem;
}

.page-footer-primary a[data-icon-before]{
position:static;
padding-left:0;
}

.page-footer-primary a[data-icon-before]:before{
top:0;
left:50%;
margin-left:-18px;
margin-left:-1.125rem;
}

.page-footer dl{
display:table;
margin-right:auto;
margin-left:auto;
text-align:center;
}

.page-nav{
box-shadow:inset 0 -1px 0 #fff;
}

.page-nav input~ul{
max-height:0;
visibility:hidden;
margin-bottom:0;
background:#fff;
}

.page-nav input:checked~ul{
max-height:200em;
visibility:visible;
}

.page-nav ul a:hover{
background:#3c7da6;
}

.page-nav a,
.page-nav label{
display:block;
padding:18px;
padding:1.125rem;
box-shadow:inset 0 1px 0 #fff;
}

.page-nav label{
position:relative;
padding-right:48px;
padding-right:3rem;
}

.page-nav label:after{
right:12px;
right:.75rem;
top:24px;
top:1.5rem;
}

.page-nav input~ul{
/*transition:.25s cubic-bezier(.55,0,.1,1);*/
}

.page-nav input~ul a{
visibility:hidden;
opacity:0;
}

.page-nav input:checked+label+ul a{
visibility:visible;
opacity:1;
}

.page-nav input:checked~ul a{
display:block;
padding:18px;
padding:1.125rem;
}

.page-nav input:checked~ul li:not(:first-of-type) a{
box-shadow:inset 0 1px 0 #2d79ac;
}

.page-nav ul a{
color:#fff;
}

.page-nav input~ul a{
color:#2d79ac;
}

.page-nav input~ul a:hover{
background:#f2f6f9;
color:#4a8d31;
}

}

@media only screen and (min-width:48em){

.page-footer ul{
margin:0 auto;
letter-spacing:-.5rem;
}

.page-footer ul>li{
letter-spacing:normal;
}

.page-footer-primary ul>li{
display:inline-block;
width:31%;
vertical-align:middle;
text-align:left;
}

.page-footer-primary ul>li:not(:first-of-type){
margin-left:3.5%;
}

.page-footer-primary a[data-icon-before]{
padding-left:40px;
padding-left:2.5rem;
}

.page-footer-primary a[data-icon-before]:before{
top:50%;
margin-top:-18px;
margin-top:-1.125rem;
}

.page-nav{
box-shadow:0 -1px 0 #90b6c7;
}

.page-nav a{
position:relative;
}

.page-nav label{
display:block;
}

.page-nav label:after,
.page-nav ul>li:last-of-type a:before{
display:none;
}

.page-nav>div{
padding:18px 12px 6px;
padding:1.125rem .75rem .375rem;
box-shadow:0 1px 0 #90b6c7;
}

.page-nav label{
margin-bottom:12px;
margin-bottom:.75rem;
font-weight:bold;
cursor:default;
}

.page-nav ul>li{
display:inline-block;
margin:0 12px 12px 0;
margin:0 .75rem .75rem 0;
vertical-align:top;
letter-spacing:normal;
}

}

@media only screen and (min-width:62em){

.page-footer>div{
overflow:hidden;
}

}

/* @end @page-footer */

/* @group @d-nav
--------------------------------------------------------*/



@media only screen and (max-width:47.9375em){

.d-nav{
display:none;
}

}

@media only screen and (min-width:48em){

.d-nav ul{
display:table;
width:100%;
margin:auto;
table-layout:fixed;
}

.d-nav ul>li{
font-size:14px;
font-size:.875rem;
line-height:1.714285714;
}

.d-nav ul>li{
display:table-cell;
vertical-align:middle;
}

.d-nav a{
position:relative;
z-index:2;
overflow:hidden;
display:block;
padding:16px 0;
padding:1rem 0;
background:#fefefe;
box-shadow:inset 0 -6px 0 #00648b, inset 0 1px 0 #00648b, inset -1px 0 0 #eee;
box-shadow:inset 0 -.375rem 0 #00648b, inset 0 1px 0 #00648b, inset -1px 0 0 #eee;
vertical-align:middle;
text-align:center;
}

.d-nav a:before,
.d-nav a:after{
content:'';
position:absolute;
z-index:3;
top:1px;
bottom:6px;
bottom:.375rem;
width:1px;
background:#fff;
}

.d-nav a:before{
right:1px;
}

.d-nav a:after{
left:0;
}

.d-nav li:last-of-type a{
box-shadow:inset 0 -6px 0 #00648b, inset 0 1px 0 #00648b;
box-shadow:inset 0 -.375rem 0 #00648b, inset 0 1px 0 #00648b;
}

.d-nav a{
color:#333;
}

.d-nav a:hover,
.d-nav .cr a,
.d-nav .cr a:hover{
background:#e5f4ff;
color:#0a4f74;
}

.d-nav a:active{
color:#3c7e25;
}

.d-nav a:active{

}

.d-nav a{
font-size:16px;
font-size:1rem;
line-height:1.5;
}

.d-nav a>span{
display:block;
margin-bottom:4px;
margin-bottom:.25rem;
font-weight:bold;
color:#00648b;
}

.d-nav a>span{
font-size:10px;
font-size:.625rem;
line-height:1.8;
}

.d-nav ul>li:nth-of-type(5) a{
color:#c7000e;
}

}

@media only screen and (min-width:62em){

.d-nav a>span{
font-size:12px;
font-size:.75rem;
line-height:1.5;
}

.d-nav ul>li:first-of-type a:after,
.d-nav ul>li:last-of-type a:before{
display:none;
}

}

/* @end @d-nav */

/* @group @facebook-likebox
--------------------------------------------------------*/

.fb-root{
display:none;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style]{
width:100% !important;
}

/* @end @facebook-likebox */

/*  --------------------------------------------------------*/

/* @group @section-header
--------------------------------------------------------*/

.section-header{
padding:12px 18px;
padding:.75rem 1.125rem;
background:#00648b;
color:#fff;
}

.section-header h3,
.section-header p{
margin-top:6px;
margin-top:.375rem;
}

.section-header h2,
.section-header h3,
.section-header p{
margin-bottom:0;
}

.section-header h2{
font-size:24px;
font-size:1.5rem;
line-height:1.5;
font-weight:bold;
}

/* @end @section-header */

/* @group @section-banner-header
--------------------------------------------------------*/

.section-banner-header{
padding:12px 18px 12px 60px;
padding:.75rem 1.125rem .75rem 3.75rem;
background-color:#00648b;
background-position:12px 21px;
background-position:.75rem 1.3125rem;
background-repeat:no-repeat;
background-size:36px auto;
background-size:2.25rem auto;
color:#fff;
}

[data-flag-icon="australia"]{
background-image:url(../img/flags-australia.png);
}

[data-flag-icon="canada"]{
background-image:url(../img/flags-canada.png);
}

[data-flag-icon="france"]{
background-image:url(../img/flags-france.png);
}

[data-flag-icon="germany"]{
background-image:url(../img/flags-germany.png);
}

[data-flag-icon="ireland"]{
background-image:url(../img/flags-ireland.png);
}

[data-flag-icon="malta"]{
background-image:url(../img/flags-malta.png);
}

[data-flag-icon="nz"]{
background-image:url(../img/flags-nz.png);
}

[data-flag-icon="philippines"]{
background-image:url(../img/flags-philippines.png);
}

[data-flag-icon="spain"]{
background-image:url(../img/flags-spain.png);
}

[data-flag-icon="uk"]{
background-image:url(../img/flags-uk.png);
}

[data-flag-icon="usa"]{
background-image:url(../img/flags-usa.png);
}

.section-banner-header h3,
.section-banner-header p{
margin-top:6px;
margin-top:.375rem;
}

.section-banner-header h2,
.section-banner-header h3,
.section-banner-header p{
margin-bottom:0;
}

.section-banner-header h2{
font-size:24px;
font-size:1.5rem;
line-height:1.5;
font-weight:bold;
}

/* @end @section-banner-header */

/* @group @section-count-header
--------------------------------------------------------*/

.section-count-header{
padding:12px 18px;
padding:.75rem 1.125rem;
background:#00648b;
color:#fff;
}

.section-count-header>span{
margin-right:12px;
margin-right:.75rem;
padding:3px 12px;
padding:.1875rem .75rem;
background:#fff;
color:#00648b;
text-align:center;
}

.section-count-header>span{
font-size:16px;
font-size:1rem;
line-height:1.5;
}

.section-count-header h2{
margin-bottom:0;
}

.section-count-header h2>em:before,
.section-count-header h2>em:after{
content:'-';
margin:0 4px;
margin:0 .25rem;
}

.section-count-header h2{
font-size:24px;
font-size:1.5rem;
line-height:1.5;
font-weight:bold;
}

@media only screen and (max-width:47.9375em){

.section-count-header>span{
display:inline-block;
margin-bottom:6px;
margin-bottom:.375rem;
}

.section-count-header>span{
line-height:1.5;
}

}

/* @end @section-count-header */

/*  --------------------------------------------------------*/

/* @group @root-bnr
--------------------------------------------------------*/

.root-bnr{
margin-bottom:48px;
margin-bottom:3rem;
}

.root-bnr>div{
position:relative;
z-index:4;
padding:36px 18px 12px;
padding:2.25rem 1.125rem .75rem;
background:url(../img/kv.jpg) center center no-repeat;
background-size:cover;
}

.root-bnr>div:before{
content:'';
position:absolute;
z-index:3;
top:0;
right:0;
bottom:0;
left:0;
background:hsla(0,0%,0%,.05);
width:100%;
}

.root-bnr>div{
color:#0d3c98;
text-align:center;
}

.root-bnr h1+div{
position:relative;
z-index:11;
margin-bottom:12px;
margin-bottom:.75rem;
padding:18px;
padding:1.125rem;
background:#fff;
background:hsla(320,100%,100%,.75);
}

.root-bnr ul{
margin:0 auto -18px;
margin:0 auto -1.125rem;
letter-spacing:-.5em;
}

.root-bnr ul>li{
display:inline-block;
margin:0 8px 18px;
margin:0 .5rem 1.125rem;
vertical-align:top;
letter-spacing:normal;
}

.root-bnr ul a{
position:relative;
display:block;
cursor:pointer;
}

.root-bnr ul a:before{
content:attr(data-label);
position:absolute;
top:-32px;
top:-2rem;
right:-16px;
right:-1rem;
left:-16px;
left:-1rem;
display:block;
padding:6px;
padding:.375rem;
background:hsla(0,0%,0%,.8);
text-align:center;
font-size:10px;
font-size:.625rem;
line-height:1.5;
color:#fff;
}

.root-bnr ul a:after{
content:'';
position:absolute;
top:-6px;
top:-.375rem;
left:50%;
width:0;
height:0;
margin-left:-4px;
margin-left:-.25rem;
border-style:solid;
border-width:4px 4px 0 4px;
width:.25rem .25rem 0 .25rem;
border-color:hsla(0,0%,0%,.8) transparent transparent transparent;
}

.root-bnr ul a:before,
.root-bnr ul a:after{
visibility:hidden;
opacity:0;
/*transition:.25s cubic-bezier(.55,0,.1,1);*/
-webkit-transform:perspective(0);
}

.root-bnr ul a:hover:before,
.root-bnr ul a:hover:after{
visibility:visible;
opacity:1;
}

.root-bnr ul img{
height:48px;
height:3rem;
/*transition:.5s cubic-bezier(.55,0,.1,1);*/
}

.no-touch .root-bnr a:hover img{
opacity:1;
}

.root-bnr h1,
.root-bnr h1+div>h2{
font-family:serif;
font-family:'Hiragino Mincho ProN', 'Hiragino Mincho Pro', '游明朝', '游明朝体', 'Yu Mincho', 'YuMincho', sans-serif;
font-weight:bold;
}

.root-bnr h1,
.root-bnr div>h2{
margin-bottom:12px;
margin-bottom:.75rem;
}

.root-bnr div+h2{
display:table;
margin:auto;
padding:18px;
padding:1.125rem;
background:#f5000a;
border-radius:12px;
border-radius:.75rem;
color:#fff;
font-weight:bold;
}

.root-bnr div+h2>span{
display:block;
}

/*.root-bnr div+h2>span+span{
margin-top:12px;
margin-top:.75rem;
padding:12px;
padding:.75rem;
background:#fff;
color:#fbd22a;
color:#c7000e;
}*/

.root-bnr h1{
font-size:36px;
font-size:2.25rem;
line-height:1.333333333;
color:#00648b;
text-shadow:1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff, 4px 4px 4px #fff, 4px -4px 4px #fff, -4px 4px 4px #fff, -4px -4px 4px #fff;
text-shadow:1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff, .25rem .25rem .25rem #fff, .25rem -.25rem .25rem #fff, .25rem -.25rem .25rem #fff, -.25rem -.25rem .25rem #fff;
}

.root-bnr h2{
font-size:24px;
font-size:1.5rem;
line-height:1.2;
}

.root-bnr div+h2 em{
position:relative;
z-index:2;
display:inline-block;
bottom:-2px;
bottom:-.125rem;
font-size:36px;
font-size:2.25rem;
line-height:1;
}

.root-bnr div+h2{
font-size:16px;
font-size:1rem;
line-height:1.5;
}

.root-bnr h1 em,
.root-bnr h1+div>h2 em{
/*color:#c7000e;*/
color:#f5000a;
}

.root-bnr div+h2 em,
.root-bnr div+h2 span+span span{
color:yellow;
}

.root-bnr #res a:link{
color:white;
font-size:0.6rem;
letter-spacing: -2px;
}

@media only screen and (max-width:61.9375em){

.root-bnr ul{
max-width:37.5em;
}

}

@media only screen and (min-width:48em){

.root-bnr>div{
padding:60px 12px 24px;
padding:3.75rem .75rem 1.5rem;
background:url(../img/kv.jpg) center center no-repeat;
background-size:cover;
}

.root-bnr h1>span{
display:block;
}

.root-bnr h1{
font-size:84px;
font-size:5.25rem;
line-height:1.142857143;
}

.root-bnr h2{
font-size:36px;
font-size:2.25rem;
line-height:1.333333333;
}

.root-bnr div+h2{
-moz-box-sizing:border-box;box-sizing:border-box;
position:absolute;
top:18px;
top:1.125rem;
left:18px;
left:1.125rem;
width:192px;
width:9rem;
height:192px;
height:9rem;
padding-top:24px;
padding-top:1.5rem;
border-radius:50%;
font-size:18px;
font-size:1.125rem;
line-height:1.333333333;
}

.root-bnr div+h2 span+span{
display:block;
margin-top:-4px;
margin-top:-.25rem;
}

.root-bnr div+h2 em{
font-size:48px;
font-size:3rem;
line-height:1;
}

}

@media only screen and (min-width:62em){

.root-bnr ul img{
height:36px;
height:2.25rem;
}

}

/* @end @root-bnr */

/* @group @root-pickup-contory
--------------------------------------------------------*/

.root-pickup-contory{
margin-bottom:48px;
margin-bottom:3rem;
}

.root-pickup-contory header+div ul{
margin-bottom:0;
}

.root-pickup-contory header+div li{
margin-top:18px;
margin-top:1.125rem;
}

.root-pickup-contory header+div li>a{
display:block;
padding:18px 12px;
padding:1.125rem .75rem;
background:#fff;
text-align:center;
}

.root-pickup-contory header+div li>a{
color:#444;
}

.root-pickup-contory header+div li>a:hover{
background:#e5f4ff;
color:#0a4f74;
/*color:#3c7e25;*/
}

.root-pickup-contory img{
width:100%;
margin:6px 0;
margin:.375rem 0;
}

.root-pickup-contory a span{
display:block;
font-weight:bold;
}

.root-pickup-contory em{
display:block;
}

.root-pickup-contory a{
font-size:14px;
font-size:.875rem;
line-height:1.714285714;
}

.root-pickup-contory em{
font-size:16px;
font-size:1rem;
line-height:1.5;
}

.root-pickup-contory header+div ul{
margin-left:-18px;
margin-left:-1.125rem;
letter-spacing:-.5rem;
}

.root-pickup-contory header+div ul>li{
-moz-box-sizing:border-box;box-sizing:border-box;
display:inline-block;
width:50%;
padding-left:18px;
padding-left:1.125rem;
vertical-align:top;
letter-spacing:normal;
}

@media only screen and (max-width:47.9375em){

}

@media only screen and (min-width:36em){

.root-pickup-contory header+div ul>li{
width:33.333333333%;
}

}

@media only screen and (min-width:48em){

.root-pickup-contory header+div ul>li{
width:20%;
}

}

/* @end @root-pickup-contory */

/* @group @root-merit
--------------------------------------------------------*/

.root-merit{
margin-bottom:48px;
margin-bottom:3rem;
}

.root-merit header+div{
padding:18px;
padding:1.125rem;
background:#fff;
}

.root-merit dl{
-moz-box-sizing:border-box;box-sizing:border-box;
display:table;
width:168px;
width:10.5em;
height:168px;
height:10.5em;
padding-top:54px;
padding-top:3.375rem;
border-radius:50%;
background:#f5000a;
color:#fff;
text-align:center;
}

.root-merit dt{
font-size:18px;
font-size:1.125rem;
line-height:1.333333333;
}

.root-merit dd{
font-size:24px;
font-size:1.5rem;
}

.root-merit dd span{
font-size:30px;
font-size:1.875rem;
}

.root-merit dd span+span{
margin:0 2px;
margin:0 .125erm;
}

.root-merit dd span+span{
font-size:36px;
font-size:2.25rem;
}

@media only screen and (max-width:47.9375em){

.root-merit dl{
margin:0 auto 24px;
margin:0 auto 1.5rem;
}

}

@media only screen and (min-width:48em){

.root-merit dl+div{
width:70%;/* fallback non calc support */
width:-webkit-calc(100% - 12em);
width:calc(100% - 12em);
-webkit-column-count:2;
column-count:2;
-webkit-column-gap:16px;
-webkit-column-gap:1rem;
column-gap:16px;
column-gap:1rem;
}

.root-merit dl,
.root-merit dl+div p{
margin-bottom:0;
}

}

/* @end @root-merit */

/* @group @root-road
--------------------------------------------------------*/

.root-road{
margin-bottom:48px;
margin-bottom:3rem;
}

.root-road header+div{
padding:18px;
padding:1.125rem;
background:#fff;
}

.root-road ol{
margin-bottom:24px;
margin-bottom:1.5rem;
}

.root-road ol>li{
-moz-box-sizing:border-box;box-sizing:border-box;
counter-increment:flow-application-list;
position:relative;
text-align:center;
}

.root-road ol>li h3{
margin-top:6px;
margin-top:.75rem;
margin-bottom:6px;
margin-bottom:.375rem;
}

.root-road ol>li p{
margin-bottom:0;
font-size:14px;
font-size:.875rem;
line-height:1.714285714;
font-weight:bold;
}

.root-road ol>li h3{
font-size:20px;
font-size:1.25rem;
line-height:1.5;
color:#666;
}

.root-road ol>li h3>span{
-moz-box-sizing:border-box;box-sizing:border-box;
display:table;
margin:0 auto 12px;
margin:0 auto .75rem;
padding:6px 18px;
padding:.375rem 1.125rem;
background:#999;
text-align:center;
color:#fff;
text-transform:uppercase;
}

.root-road ol>li h3>span{
font-size:14px;
font-size:.875rem;
line-height:1.285714286;
}

.root-road ol>li span>span{
margin-right:6px;
margin-right:.375rem;
}

.root-road ol>li img{
display:block;
width:100%;
}

.root-road footer{
margin-top:36px;
margin-top:2.25rem;
}

@media only screen and (max-width:47.9375em){

.root-road ol{
max-width:288px;
max-width:18em;
margin-right:auto;
margin-left:auto;
}

.root-road ol>li:not(:last-of-type){
margin-bottom:24px;
margin-bottom:1.5rem;
}

.root-road .btn{
display:block;
width:100%;
}

.root-road .btn:not(:last-of-type){
margin-bottom:24px;
margin-bottom:1.5rem;
}

}

@media only screen and (min-width:48em){

.root-road ol{
letter-spacing:-.5em;
}

.root-road ol>li{
display:inline-block;
vertical-align:top;
letter-spacing:normal;
}

.root-road ol>li{
width:22.375%;
text-align:center;
}

.root-road ol>li:not(:first-of-type){
margin-left:3.5%;
}

.root-road footer{
text-align:center;
}

.root-road .btn{
min-width:288px;
min-width:18rem;
margin:auto;
}

.root-road .btn:not(:last-of-type){
margin-right:12px;
margin-right:.75rem;
}

}

/* @end @root-road */

/* @group @root-search
--------------------------------------------------------*/

.root-search{
margin-bottom:48px;
margin-bottom:3rem;
}

.root-search header+div{
padding:18px;
padding:1.125rem;
background:#fff;
}

.root-search ol{
margin-bottom:24px;
margin-bottom:1.5rem;
}

.root-search label{
position:relative;
overflow:hidden;
display:block;
padding:12px;
padding:.75rem;
background:hsl(217,23%,59%);
}

.root-search label:before{
content:'';
position:absolute;
top:50%;
right:1rem;
width:0;
height:0;
margin-top:-.125rem;
border-style:solid;
border-width:.5rem .375rem 0 .375rem;
border-color:#fff transparent transparent transparent;
}

.root-search select{
-moz-box-sizing:border-box;box-sizing:border-box;
-webkit-appearance:none;-moz-appearance:none;appearance:none;
position:relative;
z-index:2;
display:block;
width:200%;/* fallback non calc support */
width:-webkit-calc(100% + 5em);
width:calc(100% + 5em);
margin:0;
background:transparent;
border:0;
outline:none;
color:#fff;
}

.root-search .btn{
display:block;
width:100%;
margin-top:36px;
margin-top:2.25rem;
}

@media only screen and (max-width:47.9375em){

.root-search ol>li{
margin-bottom:12px;
margin-bottom:.75rem;
}

}

@media only screen and (min-width:48em){

.root-search ol{
letter-spacing:-.5rem;
}

.root-search ol>li{
display:inline-block;
width:48.25%;
vertical-align:top;
letter-spacing:normal;
}

.root-search ol>li:first-child{
margin-right:3.5%;
}

.root-search .btn{
width:288px;
width:18rem;
margin-right:auto;
margin-left:auto;
}

}

/* @end @root-search */

/* @group @root-event
--------------------------------------------------------*/

.root-event header+div{
padding:18px;
padding:1.125rem;
background:#fff;
}

.root-event ol a{
color:#333;
}

.root-event ul,
.root-event ol{
margin-bottom:0;
}

.root-event ol a{
display:block;
padding:12px 18px;
padding:.75rem 1.125rem;
background:#fff;
box-shadow:inset 0 -1px 0 #ccc, 0 -1px 0 #ccc;
}

.root-event ol a:hover{
background:#e5f4ff;
}

.root-event h3{
color:#00648b;
}

.root-event a:hover h3{
color:#3c7e25;
}

.root-event h3{
font-size:20px;
font-size:1.25rem;
line-height:1.5;
}

.root-event h4{
font-size:12px;
font-size:.75rem;
line-height:1.5;
}

.root-event a>time{
/*font-size:20px;
font-size:1.25rem;
line-height:1.5;
}

.root-event a>time>span{*/
font-size:18px;
font-size:1.125rem;
line-height:1.666666667;
}

.root-event h4{
display:inline-block;
margin-bottom:0;
padding:3px 11px;
padding:.1875rem .6875rem;
border:1px solid #00648b;
text-align:center;
}

.root-event dl{
margin-bottom:0;
}

.root-event p{
width:96px;
width:6rem;
margin-bottom:0;
}

.root-event p>span{
display:block;
padding:3px 0;
padding:.1875rem 0;
background:#00648b;
color:#fff;
text-align:center;
}

@media only screen and (max-width:47.9375em){

.root-event a>time,
.root-event a>span,
.root-event p{
display:inline-block;
}

.root-event dt{
position:absolute;
left:-999em;
}

.root-event h3{
margin-bottom:6px;
margin-bottom:.375rem;
}

.root-event h4,
.root-event a>span{
margin-bottom:9px;
margin-bottom:.5625rem;
}

.root-event p{
margin-top:6px;
margin-top:.375rem;
}

}

@media only screen and (min-width:48em){

.root-event ol a{
-moz-box-sizing:border-box;box-sizing:border-box;
display:table;
width:100%;
}

.root-event a>*{
display:table-cell;
vertical-align:middle;
letter-spacing:normal;
}

.root-event ol h3+div{
letter-spacing:-.5rem;
}

.root-event ol h3+div>h4,
.root-event ol h3+div>dl{
display:inline-block;
vertical-align:middle;
letter-spacing:normal;
}

.root-event time{
width:60px;
width:3.75rem;
}

.root-event a>div{
padding:0 12px;
padding:0 .75rem;
}

.root-event time>span{
display:block;
}

.root-event h3{
margin-bottom:6px;
margin-bottom:.375rem;
}

.root-event dl{
display:table;
margin-left:12px;
margin-left:.75rem;
}

.root-event dt,
.root-event dd{
display:table-cell;
vertical-align:top;
}

}

/* @end @root-event */

/*  --------------------------------------------------------*/

/* @group @con-header
--------------------------------------------------------*/

.con-header{
margin-bottom:36px;
margin-bottom:2.25rem;
}

.con-header>div{
position:relative;
padding:18px;
padding:1.125rem;
background:#fff;
}

.con-header h1{
margin-bottom:18px;
margin-bottom:1.125rem;
}

.con-header h2{
margin-bottom:6px;
margin-bottom:.375rem;
}

.con-header h1{
font-size:30px;
font-size:1.875rem;
line-height:1.4;
font-weight:bold;
color:#00648b;
}

.con-header h1 em{
color:#be0004;
}

.con-header h2{
font-size:20px;
font-size:1.25rem;
line-height:1.5;
font-weight:bold;
}

.con-header p{
margin-bottom:0;
}

.con-header[data-pickup]>div:before{
content:'';
position:absolute;
z-index:3;
width:216px;
width:13.5rem;
height:144px;
height:9rem;
background:red;
background:url(/img/bg-pickup.png) bottom center no-repeat;
background-size:contain;
text-align:center;
}


@media only screen and (max-width:47.9375em){

.con-header[data-pickup]>div{
padding-bottom:180px;
padding-bottom:11.25rem;
}

.con-header[data-pickup]>div:before{
bottom:18px;
bottom:1.125rem;
left:50%;
margin-left:-108px;
margin-left:-6.75rem;
}

}

@media only screen and (min-width:48em){

.con-header[data-pickup]>div{
padding-right:234px;
padding-right:14.625rem;
}

.con-header[data-pickup]>div:before{
right:18px;
right:1.125rem;
top:50%;
margin-top:-72px;
margin-top:-4.5rem;
}

}

.con-header h3{
display:table;
margin:auto;
padding:18px;
padding:1.125rem;
background:#f5000a;
border-radius:12px;
border-radius:.75rem;
color:#fff;
font-weight:bold;
text-align:center;
}

.con-header h3>span{
display:block;
}

/*.con-header h3>span+span{
margin-top:12px;
margin-top:.75rem;
padding:12px;
padding:.75rem;
background:#fff;
color:#fbd22a;
color:#c7000e;
}*/



.con-header h3 em{
position:relative;
z-index:2;
display:inline-block;
bottom:-2px;
bottom:-.125rem;
font-size:36px;
font-size:2.25rem;
line-height:1;
}

.con-header h3{
font-size:16px;
font-size:1rem;
line-height:1.5;
}

.con-header h3 em,
.con-header h3 span+span span{
color:yellow;
}

@media only screen and (max-width:47.9375em){

.con-header h3{
margin-top:18px;
margin-top:1.125rem;
}

}

@media only screen and (min-width:48em){

[data-plan-pickup]>div{
min-height:144px;
min-height:9rem;
padding-right:198px;
padding-right:12.375rem;
}

.con-header h3{
-moz-box-sizing:border-box;box-sizing:border-box;
position:absolute;
top:50%;
right:36px;
right:2.25rem;
width:192px;
width:9rem;
height:192px;
height:9rem;
margin-top:-72px;
margin-top:-4.5rem;
padding-top:24px;
padding-top:1.5rem;
border-radius:50%;
font-size:18px;
font-size:1.125rem;
line-height:1.333333333;
}

.con-header h3 span+span{
display:block;
margin-top:-4px;
margin-top:-.25rem;
}

.con-header h3 em{
font-size:48px;
font-size:3rem;
line-height:1;
}

}

/* @end @con-header */

/* @group @section-body
--------------------------------------------------------*/

.section-body{
margin-bottom:48px;
margin-bottom:3rem;
padding:18px;
padding:1.125rem;
background:#fff;
}

.section-body div+h3,
.section-body p+h3,
.section-body ul+h3,
.section-body ol+h3,
.section-body dl+h3,
.section-body table+h3{
margin-top:30px;
margin-top:1.875rem;
}

.section-body h3{
margin-bottom:12px;
margin-bottom:.75rem;
}

.section-body h3{
font-size:20px;
font-size:1.25rem;
line-height:1.5;
font-weight:bold;
}

.section-body h4{
font-size:16px;
font-size:1rem;
line-height:1.5;
color:#666;
}

.section-body ul>li:not(:last-of-type),
.section-body ol>li:not(:last-of-type){
margin-bottom:6px;
margin-bottom:.375rem;
}

.section-body ul>li{
position:relative;
padding-left:1rem;
}

.section-body ul>li:before{
content:'';
position:absolute;
top:8px;
top:.5rem;
left:0;
width:6px;
width:.375rem;
height:6px;
height:.375rem;
background:#00648b;
}

.section-body ol{
counter-reset:li-single;
}

.section-body ol>li{
position:relative;
padding:6px 0 6px 48px;
padding:.375rem 0 .375rem 3rem;
}

.section-body ol>li:before{
content:counter(li-single);
counter-increment:li-single;
-moz-box-sizing:border-box;box-sizing:border-box;
position:absolute;
top:0;
left:0;
width:36px;
width:2.25rem;
height:36px;
height:2.25rem;
padding-top:8px;
padding-top:.5rem;
vertical-align:middle;
background:#999;
color:#fff;
text-align:center;
speak:none;
}

.section-body .pickup-count-list>li:before{
content:attr(data-count);
}

.section-body table{
width:100%;
}

.section-body table{
box-shadow:0 1px 0 #ccc;
}

.section-body tr,
.section-body th,
.section-body td{
-moz-box-sizing:border-box;box-sizing:border-box;
border:0;
}

.section-body th,
.section-body td{
padding:12px;
padding:.75rem;
vertical-align:top;
text-align:left;
}

.section-body th{
background:#e3eff5;
}

.section-body td dl,
.section-body td ul{
margin-bottom:0;
}

.section-body td ul:not(:last-of-type),
.section-body td dl:not(:last-of-type){
margin-bottom:12px;
margin-bottom:.75rem;
}

.section-body td dt{
margin-bottom:6px;
margin-bottom:.375rem;
font-weight:bold;
}



@media only screen and (min-width:48em){

.section-body th,
.section-body td{
padding:12px 18px;
padding:.75rem 1.125rem;
box-shadow:0 -1px 0 #ccc;
}

.section-body th{
width:25%;
}

}

.section-body a:not(.btn){
color:#00648b;
box-shadow:0 1px 0 #00648b;
}

.section-body a:not(.btn):hover{
color:#4a8d31;
box-shadow:none;
}

/* @end @section-body */

/* @group @section-footer
--------------------------------------------------------*/

.section-footer{
margin-top:36px;
margin-top:2.25rem;
}

.section-footer .btn{
padding:12px 18px;
padding:.75rem 1.125rem;
font-size:16px;
font-size:1rem;
line-height:1.5;
}

@media only screen and (max-width:47.9375em){

.section-footer .btn{
display:block;
width:100%;
}

.section-footer .btn:not(:last-of-type){
margin-bottom:24px;
margin-bottom:1.5rem;
}

}

@media only screen and (min-width:48em){

.section-footer{
text-align:center;
}

.thumb-grid .section-footer{
text-align:left;
}

.section-footer .btn:not(:last-of-type){
margin-right:12px;
margin-right:.75rem;
}

}

/* @end @section-footer */

/* @group @inner-header
--------------------------------------------------------*/

.inner-header{
margin-bottom:18px;
margin-bottom:1.125rem;
padding-bottom:6px;
padding-bottom:.375rem;
box-shadow:0 1px 0 #aaa;
}

.inner-header h3{
margin-bottom:0;
}

.inner-header p{
display:inline-block;
margin-bottom:0;
}

@media only screen and (min-width:48em){

.inner-header h3{
margin-right:12px;
margin-right:.75rem;
white-space:nowrap;
}

.inner-header p{
margin-top:3px;
margin-top:.1875rem;
}

}

/* @end @inner-header */

/* @group @thumb-grid
--------------------------------------------------------*/

.thumb-grid{
margin-bottom:24px;
margin-bottom:1.5rem;
}

.thumb-grid+.thumb-grid,
p+.thumb-grid,
ul+.thumb-grid,
ol+.thumb-grid{
margin-top:36px;
margin-top:2.25rem;
}

@media only screen and (max-width:47.9375em){

.thumb-grid>.thumb{
display:table;
margin:0 auto 24px;
margin:0 auto 1.5rem;
text-align:center;
}

}

@media only screen and (min-width:48em){

.thumb-grid .thumb{
width:31%;
}

.thumb-grid .thumb+div{
width:65.5%;
}

.thumb-access-grid .thumb,
.thumb-access-grid .thumb+div{
width:48.25%;
}

.thumb-grid h3{
margin-top:0;
}

}

/* @end @thumb-grid */

/* @group @video-container
--------------------------------------------------------*/

.video-container{
position:relative;
overflow:hidden;
margin-bottom:24px;
margin-bottom:1.5rem;
padding-bottom:56.25%;
}

.video-container iframe{
position:absolute;
top:0;
left:0;
width:100% !important;
height:100% !important;
}

/* @end @video-container */

/* @group @google-map
--------------------------------------------------------*/

.google-map{
text-align:right;
}

.google-map iframe{
width:100%;
margin-bottom:18px;
margin-bottom:1.125rem;
}

.google-map .btn{
padding:6px 12px;
padding:.375rem .75rem;
font-size:16px;
font-size:1rem;
line-height:1.5;
}

.google-map p{
margin-top:24px;
margin-top:1.5rem;
}

.google-map p,
.google-map ul{
text-align:left;
}

/* @end @google-map */

/* @group @voice-header
--------------------------------------------------------*/

.voice-header{
padding:18px;
padding:1.125rem;
background:#fff;
}

.voice-header>div{
padding:12px 18px;
padding:.75rem 1.125rem;
background:#e3eff5;
}

.voice-header dt{
margin-right:12px;
margin-right:.75rem;
width:60px;
width:3.75rem;
padding:3px 12px;
padding:.1875rem .75rem;
background:#fff;
color:#00648b;
text-align:center;
}

.voice-header dt{
font-size:14px;
font-size:.875rem;
line-height:1.285714286;
}

.voice-header dl{
margin-bottom:0;
}

.voice-header dl:not(:last-of-type){
margin-bottom:12px;
margin-bottom:.75rem;
}

/* @end @voice-header */

/* @group @notice
--------------------------------------------------------*/

.notice,
.section-body .notice-list>li{
position:relative;
padding-left:1.5rem;
}

.section-body .notice-list>li{
padding-top:0;
padding-bottom:0;
}

.section-body .notice-list>li:before{
display:none;
}

.notice>[data-notice],
.section-body .notice-list>li>[data-notice]{
position:absolute;
top:0;
left:0;
}

/* @end @notice */

/* @group @qa-list
--------------------------------------------------------*/

.qa-list{
margin-bottom:36px;
margin-bottom:2.25rem;
}

.qa-list h3{
font-size:16px;
font-size:1rem;
line-height:1.5;
}

.qa-list h3{
position:relative;
padding:6px 0 6px 42px;
padding:.375rem 0 .375rem 2.625rem;
}

.qa-list h3:before,
.qa-list h3+div:before{
-moz-box-sizing:border-box;box-sizing:border-box;
position:absolute;
top:0;
left:0;
width:2.25rem;
height:2.25rem;
font-size:20px;
font-size:1.25rem;
line-height:1.8;
text-align:center;
}

.qa-list h3:before{
content:'Q';
background:#e3eff5;
border-radius:50%;
color:#00648b;
}

.qa-list h3+div{
position:relative;
padding-top:6px;
padding-top:.375rem;
padding-left:42px;
padding-left:2.6225rem;
}

.qa-list h3+div:before{
content:'A';
background:#00648b;
border-radius:50%;
color:#e3eff5;
}

/* @end @qa-list */

/* @group @table-responsive
--------------------------------------------------------*/

@media only screen and (max-width:47.9375em){

.table-responsive thead{
display:none !important;
}

.table-responsive tbody td:nth-of-type(1):before{
content:'学校名';
}

.table-responsive tbody td:nth-of-type(2):before{
content:'日本人割合';
}

.table-responsive tbody td:nth-of-type(3):before{
content:'全学生人数';
}

.table-responsive tbody td:nth-of-type(4):before{
content:'クラス数';
}

.table-responsive tbody td:nth-of-type(5):before{
content:'1ヶ月の学費';
}

.table-responsive tbody td:nth-of-type(6):before{
content:'3ヶ月の学費';
}

.table-responsive tbody td:nth-of-type(7):before{
content:'6ヶ月の学費';
}

.table-responsive tbody td:nth-of-type(8):before{
content:'12ヶ月の学費';
}

.table-responsive tbody td:nth-of-type(9):before{
content:'見積依頼';
}

.table-responsive tbody td:first-of-type{
background:#e3eff5;
font-weight:bold;
}

.table-responsive tbody td:before{
display:inline-block;
width:128px;
width:8rem;
margin-right:16px;
margin-right:1rem;
font-weight:bold;
}

.table-responsive tbody td{
padding-top:0;
}

.table-responsive tbody td:nth-of-type(1),
.table-responsive tbody td:nth-of-type(2),
.table-responsive tbody td:last-of-type{
padding-top:12px;
padding-top:.75rem;
}


.table-responsive tbody td:last-of-type{
background:#e4e4e4;
/*background:#d5f0dd;*/
}

.table-responsive tbody tr:not(:last-of-type) td:last-of-type{
margin-bottom:24px;
margin-bottom:1.5rem;
}

}

@media only screen and (min-width:48em){

.table-responsive thead th{
white-space:nowrap;
}

.table-responsive thead th:not(:last-of-type){
cursor:pointer;
}

.table-responsive th,
.table-responsive td{
padding:12px 9px;
padding:.75rem .5625rem;
vertical-align:middle;
}

.table-responsive thead th{
position:relative;
padding-right:16px;
padding-right:1rem;
text-align:center;
}

.table-responsive thead th:before{
position:absolute;
top:50%;
right:0;
margin-top:-8px;
margin-top:-.5rem;
color:#999;
}

.table-responsive thead .ascend:before{
color:#1f1f1f;
}

.table-responsive thead th:not(:last-of-type){
padding-right:0;
padding-left:0;
}

.table-responsive thead th:last-of-type em{
display:block;
padding:3px 6px;
padding:.1875rem .375rem;
background:#f5000a;
color:#fff;
white-space:nowrap;
}

.table-responsive thead th:last-of-type em{
font-size:12px;
font-size:.75rem;
line-height:1.5;
}

.table-responsive tbody td{
text-align:center;
}

.table-responsive tbody td:nth-of-type(1){
text-align:left;
}

.table-responsive th,
.table-responsive td{
font-size:14px;
font-size:.875rem;
line-height:1.714285714;
}

.table-responsive td:nth-of-type(2) span{
display:none;
}

.table-responsive thead th:not(:last-of-type){
color:#00648b;
text-decoration:underline;
cursor:pointer;
}

.table-responsive thead th:not(:last-of-type):hover{
color:#4a8d31;
}

}

@media only screen and (min-width:48em) and (max-width:61.9375em){

}

@media only screen and (min-width:62em){

.table-responsive tbody td:first-of-type{
font-size:16px;
font-size:1rem;
line-height:1.5;
}

}

/* @end @table-responsive */

/*  --------------------------------------------------------*/

/* @group @contents-table
--------------------------------------------------------*/

@media only screen and (max-width:47.9375em){

.contents-table{
margin-bottom:0;
}

.contents-table tr{
box-shadow:0 -1px 0 #ccc;
}

.contents-table tr,
.contents-table th,
.contents-table td{
float:left;
display:block;
width:100%;
}

}

/* @end @contents-table */

/* @group @table-price
--------------------------------------------------------*/

.table-price{
margin:0 auto;
}

.table-price thead th{
white-space:nowrap;
}

.table-price tbody th{
background:#f0f0f0;
text-align:center;
}

.table-price th,
.table-price td{
padding:12px 9px;
padding:.75rem .5625rem;
box-shadow:0 -1px 0 #ccc;
vertical-align:middle;
}

.table-price thead th{
width:40%;
text-align:center;
}

.table-price thead th:first-of-type{
width:20%;
}

.table-price tbody td{
text-align:center;
}

.table-price th,
.table-price td{
font-size:14px;
font-size:.875rem;
line-height:1.714285714;
}

@media only screen and (min-width:62em){

.table-price tbody td:first-of-type{
font-size:16px;
font-size:1rem;
line-height:1.5;
}

}

/* @end @table-price */

/*  --------------------------------------------------------*/


/* @group @table-seminar
--------------------------------------------------------*/

.table-seminar{
margin:0 auto;
}

.table-seminar thead th{
white-space:nowrap;
}

.table-seminar tbody th{
background:#f0f0f0;
text-align:center;
}

.table-seminar th,
.table-seminar td{
padding:12px 9px;
padding:0.2rem 0.1rem;
box-shadow:0 -1px 0 #ccc;
vertical-align:middle;
}

.table-seminar thead th{
width:20%;
text-align:center;
}

.table-seminar thead th:first-of-type{
width:20%;
}

.table-seminar tbody td{
text-align:center;
}

.table-seminar th,
.table-seminar td{
font-size:14px;
font-size:.875rem;
line-height:1.714285714;
}

@media only screen and (min-width:62em){

.table-seminar tbody td:first-of-type{
font-size:16px;
font-size:1rem;
line-height:1.5;
}

}

/* @end @table-seminar */

/*  --------------------------------------------------------*/


/* @group @sort-list
--------------------------------------------------------*/

.section-body .sort-list h3,
.section-body .sort-list p,
.section-body .sort-list ul,
.section-body .sort-list ol,
.section-body .sort-list li,
.section-body .sort-list label{
-moz-box-sizing:border-box;box-sizing:border-box;
}

.section-body .sort-list p,
.section-body .sort-list ul,
.section-body .sort-list ol,
.section-body .sort-list ul>li,
.section-body .sort-list ol>li{
margin-bottom:0;
padding:0;
}

.section-body .sort-list h3{
font-size:18px;
font-size:1.125rem;
line-height:1.714285714;
}

@media only screen and (max-width:47.9375em){

.sort-list-header,
.sort-list-header li:before{
display:none !important;
}

.section-body .sort-list section:not(:first-of-type){
margin-top:24px;
margin-top:1.5rem;
}

.section-body .sort-list ol>li:before{
position:static;
display:inline-block;
width:112px;
width:7rem;
height:auto;
margin-right:16px;
margin-right:1rem;
padding:0;
background:transparent;
color:#1f1f1f;
font-weight:bold;
text-align:left;
}

.section-body .sort-list h3{
padding:12px;
padding:.75rem;
background:#e3eff5;
box-shadow:0 -1px 0 #ccc;
font-weight:bold;
}

.section-body .sort-list ol>li{
margin-bottom:6px;
margin-bottom:.375rem;
padding:0 12px;
padding:0 .375rem;
}

}

@media only screen and (min-width:48em){

.sort-list{
position:relative;
padding-top:72px;
padding-top:4.5rem;
background:#e3eff5;
}

.section-body .sort-list .sort-list-body{
max-height:480px;
max-height:30rem;
overflow-y:auto;
}

.section-body .sort-list h3,
.section-body .sort-list p,
.section-body .sort-list li,
.section-body .sort-list div{
font-size:14px;
font-size:.875rem;
line-height:1.714285714;
}

.sort-list .sort-list-header{
position:absolute;
top:0;
right:0;
left:0;
}

.section-body .sort-list .sort-list-header div,
.section-body .sort-list .sort-list-header li{
padding:12px 0;
padding:.75rem 0;
background:#e3eff5;
font-weight:bold;
text-align:center;
}

.section-body .sort-list-header .sort{
position:relative;
position:relative;
color:#00648b;
cursor:pointer;
}

.section-body .sort-list-header .sort:hover{
background:#ecf8ff;
}

.section-body .sort-list-header .sort.desc{
background:#b6daff;
}

.section-body .sort-list-header .sort.asc{
background:#b6daff;
}

.asc:after,
.desc:after{
position:absolute;
top:50%;
right:4px;
right:.25rem;
margin-top:-4px;
margin-top:-.25rem;
font-size:8px;
font-size:.5rem;
line-height:1;
}

.section-body .sort-list ol>li:before{
display:none;
}

.sort-list .sort-list-body{
background:#fff;
box-shadow:0 -1px 0 #ccc;
}

.sort-list section{
box-shadow:0 1px 0 #ccc;
}

.section-body li{
font-size:14px;
font-size:.875rem;
line-height:1.714285714;
}

.section-body .sort-list ol{
margin-bottom:0;
}

.sort-list h3,
.sort-list ol>li,
.sort-list label{
padding:12px 9px;
padding:.75rem .5625rem;
}

}

@media only screen and (min-width:62em){

.sort-list tbody h3{
font-size:16px;
font-size:1rem;
line-height:1.5;
}

}

/* @end @sort-list */

/* @group @school-sort-list
--------------------------------------------------------*/

@media only screen and (max-width:47.9375em){

.school-sort-list ol>li:nth-of-type(1):before{
content:'日本人割合';
}

.school-sort-list ol>li:nth-of-type(2):before{
content:'全学生人数';
}

.school-sort-list ol>li:nth-of-type(3):before{
content:'クラス数';
}

.school-sort-list ol>li:nth-of-type(4):before{
content:'1ヶ月の学費';
}

.school-sort-list ol>li:nth-of-type(5):before{
content:'3ヶ月の学費';
}

.school-sort-list ol>li:nth-of-type(6):before{
content:'6ヶ月の学費';
}

.school-sort-list ol>li:nth-of-type(7):before{
content:'12ヶ月の学費';
}

.school-sort-list label{
display:block;
margin-top:12px;
margin-top:.75rem;
padding:12px;
padding:.75rem;
background:#e4e4e4;
font-size:16px;
font-size:1rem;
line-height:1.5;
font-weight:bold;
text-align:center;
cursor:pointer;
}

.school-sort-list label:after{
content:'見積を依頼する';
margin-left:6px;
margin-left:.375rem;
}

}

@media only screen and (min-width:48em){

.section-body .school-sort-list h3,
.section-body .school-sort-list [data-sort="sort-name"]{
width:20%;
}

.section-body .school-sort-list ol{
width:72.5%;
}

.section-body .school-sort-list ol>li{
width:12.5%;
text-align:center;
}

.section-body .school-sort-list ol>li:nth-of-type(4),
.section-body .school-sort-list ol>li:nth-of-type(5),
.section-body .school-sort-list ol>li:nth-of-type(6),
.section-body .school-sort-list ol>li:nth-of-type(7){
width:15.625%;
}

/*.section-body .school-sort-list .sort-list-body ol>li:nth-of-type(4),
.section-body .school-sort-list .sort-list-body ol>li:nth-of-type(5),
.section-body .school-sort-list .sort-list-body ol>li:nth-of-type(6),
.section-body .school-sort-list .sort-list-body ol>li:nth-of-type(7){
text-align:right;
}*/

.section-body .school-sort-list label,
.section-body .school-sort-list .sort-list-header ol+div{
width:7.5%;
text-align:center;
}

}

/* @end @school-sort-list */

/* @group @school-all-list
--------------------------------------------------------*/

@media only screen and (max-width:47.9375em){

.school-all-list ol>li:nth-of-type(1):before{
content:'日本人割合';
}

.school-all-list ol>li:nth-of-type(2):before{
content:'全学生人数';
}

.school-all-list ol>li:nth-of-type(3):before{
content:'日本人スタッフ';
}

.school-all-list ol>li:nth-of-type(4):before{
content:'1ヶ月の学費';
}

.school-all-list ol>li:nth-of-type(5):before{
content:'3ヶ月の学費';
}


.school-all-list .sort-list-body div>a{
-moz-box-sizing:border-box;box-sizing:border-box;
-webkit-appearance:none;-moz-appearance:none;appearance:none;
position:relative;
overflow:hidden;
display:block;
margin-top:12px;
margin-top:.75rem;
padding:12px;
padding:.75rem;
border:0;
outline:0;
background:#4a8d31;
color:#fff;
text-align:center;
/*transition:.5s all cubic-bezier(.55,0,.1,1);*/
}

.school-all-list .sort-list-body div>a:hover{
background:#6bb050;
}

.school-all-list .sort-list-body div>a:before{
content:'';
position:absolute;
display:block;
top:50%;
left:50%;
width:0;
padding-top:0;
border-radius:100%;
background-color:hsla(0,100%,100%,.125);
-webkit-transform:translate(-50%, -50%);
-ms-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
}

.school-all-list .sort-list-body div>a:active:before{
width:120%;
padding-top:120%;
/*transition:width .25s cubic-bezier(.55,0,.1,1),padding-top .25s cubic-bezier(.55,0,.1,1);*/
}

.school-all-list .sort-list-body div>a,
.school-all-list .sort-list-body div>a:hover{
color:hsl(0,100%,100%);
}

.school-all-list .sort-list-body div>a:before{
content:'';
position:absolute;
display:block;
top:50%;
left:50%;
width:0;
padding-top:0;
border-radius:100%;
background-color:hsla(0,100%,100%,.125);
-webkit-transform:translate(-50%, -50%);
-ms-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
}

.school-all-list .sort-list-body div>a:active:before{
width:120%;
padding-top:120%;
/*transition:width .25s cubic-bezier(.55,0,.1,1),padding-top .25s cubic-bezier(.55,0,.1,1);*/
}


}

@media only screen and (min-width:48em){

.section-body .school-all-list h3,
.section-body .school-all-list [data-sort="sort-name"]{
width:20%;
}

.section-body .school-all-list ol{
width:65%;
}

.section-body .school-all-list ol>li{
width:20%;
text-align:center;
}

/*.section-body .school-all-list .sort-list-body ol>li:nth-of-type(3),
.section-body .school-all-list .sort-list-body ol>li:nth-of-type(4){
text-align:right;
}*/

.section-body .school-all-list .sort-list-body div,
.section-body .school-all-list .sort-list-header ol+div{
width:15%;
text-align:center;
}

}

/* @end @school-all-list */

/* @group @sort-list-checker */

.sort-list-checker{
margin-bottom:6px;
margin-bottom:.375rem;
text-align:right;
}

/* @end @sort-list-checker */

/*  --------------------------------------------------------*/

/* @group @check */

.check input+span{
display:inline-block;
padding:6px 12px;
padding:.375rem .75rem;
/*background:#cfd8dc;*/
background:#4a8d31;
color:#fff;
cursor:pointer;
}

.check input:checked+span{
background:#4a8d31;
}

.check{
font-size:12px;
font-size:.75rem;
line-height:1.5;
}


/* @end @check */


/* @end @ */

/* @group @
--------------------------------------------------------*/



/* @end @ */

/*  --------------------------------------------------------*/

/* @end @contents */

/* @group @flexbox
--------------------------------------------------------*/

.voice-header dl{
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;
display:flex;
}

@media only screen and (min-width:48em){

.root-merit header+div,
.section-count-header,
.thumb-grid,
.section-body .sort-list-header,
.section-body .sort-list section,
.section-body .sort-list ol,
.section-body .sort-list-header>div,
.section-body .sort-list-header ol>li,
.inner-header{
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;
display:flex;
}

.section-body .sort-list-header,
.section-body .sort-list section,
.section-body .sort-list ol,
.section-body .sort-list-header>div,
.section-body .sort-list-header ol>li{
-webkit-box-align:center;
-moz-box-align:center;
-webkit-align-items:center;
-ms-flex-align:center;
align-items:center;
}

.section-body .sort-list section,
.section-body .sort-list-header>div,
.section-body .sort-list-header ol>li{
-webkit-align-self:stretch;
-ms-flex-item-align:stretch;
align-self:stretch;
-webkit-box-pack:center;
-moz-box-pack:center;
-webkit-justify-content:center;
-ms-flex-pack:center;
justify-content:center;
}

.root-merit header+div,
.thumb-grid{
-webkit-box-pack:justify;
-moz-box-pack:justify;
-webkit-justify-content:space-between;
-ms-flex-pack:justify;
justify-content:space-between;
}

.root-merit header+div{
-webkit-box-align:center;
-moz-box-align:center;
-webkit-align-items:center;
-ms-flex-align:center;
align-items:center;
}

.section-count-header{
-webkit-align-content:flex-start;
-ms-flex-line-pack:start;
align-content:flex-start;
}

.section-count-header>span{
-webkit-align-self:center;
-ms-flex-item-align:center;
align-self:center;
}

.root-merit dl,
.thumb-grid-02 .thumb{
-webkit-box-ordinal-group:3;
-moz-box-ordinal-group:3;
-webkit-order:2;
-ms-flex-order:2;
order:2;
}

}


/* @end @flexbox */

/*  --------------------------------------------------------*/

/* @group @matchmedia
--------------------------------------------------------*/

.state-indicator{position:absolute;z-index:1;bottom:0;left:-999em;height:0;line-height:0;visibility:hidden;}
@media screen and (min-width:0){.state-indicator{z-index:2;}}
@media screen and (min-width:48em){.state-indicator{z-index:3;}}
@media screen and (min-width:64em){.state-indicator{z-index:4;}}
/*@media screen and (min-width:80em){.state-indicator{z-index:5;}}*/

/* @end @matchmedia */





/*パンくず*/
.bread li {
    display: inline-block;
}

/*国別ページ*/
#con_bn{
	margin:5px;	
	text-align:center;
}
 
.bread li + li:before {
    margin: 0px;
    content: ">";
}